[Desktop Entry]
Version=1.0
Type=Application
Name=Sair
Comment=
Exec=xfce4-session-logout
Icon=/usr/share/icons/debxp-diversos/shutdown.svg
Path=
Terminal=false
StartupNotify=false
