[Desktop Entry]
Version=1.0
Type=Application
Name=Menu
Comment=
Exec=sh -c "$HOME/.local/bin/rofi-launcher"
Icon=start-here
Path=
Terminal=false
StartupNotify=false
