[Desktop Entry]
Version=1.0
Type=Application
Name=Sair
Comment=
Exec=obsession-logout
Icon=system-devices-panel
Path=
Terminal=false
StartupNotify=false
